.App {
  background-image: url('../evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

button {
  font-weight: bolder;
}