.header-container {
  height: 20vh;
  display: flex;
  justify-content: center;
}

img {
  width: 20em;
  height: 20em;
}

.nav-section {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-size: medium;
  height: 3em;
  width: 10em;
}

button:hover {
  background-color: black;
}


@media (max-width: 768px) {
  .header-container {
    height: 15vh;
  }

  img {
    width: 10em;
    height: 10em;
  }

  .nav-section {
    flex-direction: column;
    width: 80vw;
    margin-top: 5em;
  }

  .button-section {
    gap: 1em;
  }

  button {
    height: 2.5em;
    width: 8em;
  }
}

@media (max-width: 480px) {
  .header-container {
    height: 10vh;
  }

  img {
    width: 10em;
    height: 10em;
  }

  .nav-section {
    flex-direction: column;
    width: 80vw;
    margin-top: 5em;
  }

  .button-section {
    flex-direction: column;
    gap: 1em;
  }
}
